{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updation</title>
</head>
{% block body %}
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter you product name"><br>
    <input type="text" name="description" placeholder="enter product description"><br>
    <input type="number" name="price" placeholder="enter product price"><br>
    <input type="file" name="image" placeholder="drop your product image here"><br>
    <input type="submit">

</form>
</body>
{% endblock %}
</html>